.carousel-body-part::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: 0.7;
}

.join-part{
    height: 250px;
}

footer{
    height: 400px;
}

.font-icon{
    color: whitesmoke;
    font-size: 30px;
    

}

.font-icon i{
    padding: 0 10px;
}

.font-icon i:hover{
    color: rgba(18, 153, 231, 0.774);
    transition: .8s;
}